<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>MAHC</title>
	<meta charset="UTF-8">
	<meta name="description" content="Instyle Fashion HTML Template">
	<meta name="keywords" content="instyle, fashion, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="assets/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>
<!-- listing table -->
	

</head>
<body>
	<!-- header section -->
		<%= render 'partials/header' %>
	<!-- header section end -->	
	<%= render 'flash_messages' %>
  <div class="centered" align="center">
  	<h2 >Managing Appointments At Health Centre</h2>
  	<button onclick="location.href = '/login';" type="button" class="btn btn-link" style><h6><u>Request Appointment Online</u></h6></button><br><h6>FOR HELP</h6><br><h2 >Call Us @ 721000000</h2><br>
<h4>Address: NITC</h4>
  	
  </div>
  <br>   
</div> 

	<%= render 'partials/footer' %>

	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/main.js"></script>


	</body>
</html>
